<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>TIY Sports</h1>
            <h6 class="lead">&hearts; For the love of The Iron Yard</h6>
        </div>
        <div class="col-md-3">
            <img src="~/Images/sports.jpg" alt="..."  height="150" width="150" class="img-circle">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/football.jpg" alt="...">
            <div class="caption text-center">
                <h3>Football</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/baseball.jpg" alt="...">
            <div class="caption text-center">
                <h3>Baseball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/basketball.jpg" alt="...">
            <div class="caption text-center">
                <h3>Basketball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/quidditch.jpg" alt="...">
            <div class="caption text-center">
                <h3>Quidditch</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h3 class="bg-warning text-warning">We've added some brand new features in version 2.0! <a style="font-size:small" href="#">Learn more</a></h3>
        </div>
    </div>
    <div class="row  bg-info center-block">
        <div class="col-md-8">
            <h3 style="font-size:medium"><span class="glyphicon glyphicon-user"></span> Please <a class="text-muted" href="#"><b>log in</b></a> to edit </h3>
        </div>
        <div class="col-md-4 ">
            <button type="submit" class="btn btn-primary btn-md pull-right navbar-btn">FaceBook</button>
        </div>
    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            Teams
            <button class="btn btn-default btn-xs pull-right"> <span class="badge">317</span> Teams </button>
        </div>
        <ul class="list-group ">
            <li class="list-group-item bg-info">
                <img src="~/Images/dartboard (1).png" height="50" width="50" class="img-rounded" /> <b>Tampa Dart Dynamos</b>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                <button class="btn btn-primary btn-xs pull-right" type="button"> <span class="badge">8</span> Players</button>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <img src="~/Images/pingpong.jpg" height="50" width="50" class="img-rounded" /> <b>St Pete Ping Pong Power House</b>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                <button class="btn btn-primary btn-xs pull-right" type="button"> <span class="badge">6</span> Players</button>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <img src="~/Images/golf.jpg" height="50" width="50" class="img-rounded" /> <b>Orlando Golf Gang</b>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                <button class="btn btn-primary btn-xs pull-right " type="button"> <span class="badge">6</span> Players</button>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="btn-toolbar" role="toolbar" >
                    <div class="btn-group" role="group"><button class="btn btn-default navbar-btn pagination"><span class="glyphicon glyphicon-backward"></span></button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination">1</button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination">2</button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination">3</button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination">4</button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination">5</button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination">6</button></div>
                    <div class="btn-group" role="group" ><button class="btn btn-default navbar-btn pagination"><span class="glyphicon glyphicon-forward"></span></button></div>

                </div>
            </li>
        </ul>
    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">Games</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Home Team</th>
                    <th scope="col">Away Team</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
            <th scope="row">1</th>
            <td> Tampa Dart Dynamos</td>
            <td> Buffalo BullsEyes</td>
            <td> 20-17</td>
            </tbody>
            <tbody>
            <th scope="row">2</th>
            <td> St Pete Ping Pong Power House</td>
            <td> Philly Paddlers</td>
            <td> 18-12</td>
            </tbody>
            <tbody>
            <th scope="row">3</th>
            <td> Orlando Golf Gang</td>
            <td> Portland Putters</td>
            <td> 2-1</td>
            </tbody>
        </table>
    </div>
</div>
